<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guitartutor">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity android:name=".Migrate.ChordsDetectActivity"></activity>
        <activity android:name=".Migrate.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".TunerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.guitartutor.TunerActivity" />
        </activity>
        <activity android:name=".TunerActivity" />
        <activity android:name=".Migrate.ChordsSoundsActivity" />
        <activity android:name=".Migrate.SongsChordsActivity" />
        <activity
            android:name=".Migrate.QuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Migrate.SongsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Migrate.GuitarTutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Migrate.ChordSheetActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Migrate.TutorialGuitarStrumming" />
        <activity android:name=".Migrate.TutorialGuitarHolding" />
        <activity android:name=".Migrate.TutorialGuitarString" />
        <activity android:name=".Migrate.TutorialGuitarParts" />
    </application>

</manifest>